server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      mvc:
        routes:
          - id: department-service
            uri: lb://DEPARTMENT-SERVICE
            predicates:
              - Path=/api/departments/**
          - id: employee-service
            uri: lb://EMPLOYEE-SERVICE
            predicates:
              - Path=/api/employees/**
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.web: TRACE
